@model Registru_Intrari_Iesiri.Models.InOutRegisterEntry

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>InOutRegisterEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DocNumber"class="control-label"></label>
                <input asp-for="DocNumber" class="form-control" disabled="disabled" />
                <span asp-validation-for="DocNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocDate" class="control-label"></label>
                <input asp-for="DocDate" class="form-control" disabled="disabled"/>
                <span asp-validation-for="DocDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="hidden" asp-for="Status" class="form-control" value="Registered" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="hidden" asp-for="Resolution" class="form-control" value="." />
                <span asp-validation-for="Resolution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
